.carousel-indicators li {
  height: 20px;
  width: 20px;
  background-color: black;
  margin: 0px 20px;
}
.carousel-indicators li:hover {
  opacity: 1;
  border-radius: 50%;
}
.welcomePage .bm-logo-box {
  width: 400px;
  margin: 50px auto;
}
.welcomePage .bm-logo-box .bm-logo {
  height: 331px;
  width: 400px;
  text-align: center;
  background-color: white;
}
.align-center {
  text-align: center;
}
.height200 {
  height: 200px;
}
.centering {
  margin: 0px auto !important;
}
.black {
  color: black;
}
.white {
  color: white !important;
}
.carousel-item {
  height: 450px;
}
.cardGrid {
  height: 580px;
  overflow: scroll;
}
.itemCard {
  width: 500px;
  margin: 0px auto;
}
.search p {
  width: 30px;
}
.search img {
  height: 25px;
  margin-top: 10px;
}
.search .searhBar {
  height: 20px !important;
}
.search .searchSpecial {
  width: 120px;
}
.getStartedBox {
  background-color: black;
  color: white;
  margin: 70px auto;
  height: 400px;
  width: 600px;
  border-radius: 10px;
  padding: 142px 0px;
}
.userProfile img {
  margin: 30px auto;
  background-color: black;
  height: 105px;
  width: 157px;
  border-radius: 0%;
}
.userProfile .card {
  height: 165px;
  width: 400px;
  margin: 0px auto;
}
#v-pills-tab {
  margin: 0px auto;
}
.topUpForm .getStartedBox {
  padding: 105px 0px;
}
.addForm .getStartedBox {
  background-color: white;
  margin: 0px auto;
  height: 450px;
  width: 600px;
  border-radius: 10px;
  padding: 2px 0px;
}
.shoppingBag .pay {
  margin: 0px auto;
}
.shoppingBag .delete {
  margin: 0px auto;
}
.font-black {
  color: black;
}
.cardQty {
  margin: 1px auto;
  width: 50px;
}
.sellGrid {
  height: 570px;
  width: 100%;
  overflow: scroll;
}
.bagQty {
  margin: 1px auto;
  width: 5px !important;
}
.bag {
  height: 25px;
  width: 40px;
}
.profile-icon {
  height: 30px;
  border-radius: 50%;
}
.hShop {
  height: 550px;
}
.profilePage input {
  width: 120px;
}
.myshop-button-div {
  text-align: center;
}
.myshop-button-div .myshop-button {
  padding: 0px !important;
  margin: 0px auto !important;
}
.bg-black {
  background-color: black;
}
.hovering:hover {
  border: 2px black solid;
}
.transactionHistory .transactionDetail img {
  height: 100px;
  width: 100px;
}
.transactionHistory .transactionDetail .pButton {
  height: 40px;
}
.weather-image {
  height: 100px;
}
.align-right {
  text-align: center;
}
.header .checkWeatherButton {
  margin: 0px auto !important;
}
.red {
  color: red;
}
.green {
  color: green;
}
@media (max-width: 572px) {
  .welcomePage button {
    font-size: 12px;
  }
  .welcomePage .bm-logo-box {
    width: 200px;
  }
  .welcomePage .bm-logo-box .bm-logo {
    width: 200px;
    height: 200px;
  }
  .header {
    font-size: 12px;
  }
}
@media (max-width: 800px) {
  .topUpForm .getStartedBox {
    width: 300px;
  }
  .header p {
    width: 10px;
  }
}
@media (max-width: 460px) {
  .profilePage .card {
    width: 300px;
  }
  .profilePage .searchSpecial {
    width: 100px;
  }
  .hShop a {
    font-size: 13px;
  }
}
@media (max-width: 620px) {
  .home .itemCard {
    width: 330px;
  }
  .home .descript {
    display: none;
  }
  .home .card-body button {
    height: 25px;
    font-size: 10px;
  }
  .home .card-body input {
    width: 150px;
  }
  .home .card-body .cardQty {
    width: 50px;
  }
  .shoppingBag .itemCard {
    width: 330px;
  }
  .shoppingBag .descript {
    display: none;
  }
  .shoppingBag .card-body button {
    height: 25px;
    font-size: 10px;
  }
  .shoppingBag .card-body input {
    width: 150px;
  }
  .shoppingBag .card-body .cardQty {
    width: 50px;
  }
  .sellCard .itemCard {
    width: 330px;
  }
  .sellCard .descript {
    display: none;
  }
  .sellCard .card-body button {
    height: 25px;
    font-size: 10px;
  }
  .sellCard .card-body input {
    width: 150px;
  }
  .sellCard .card-body .cardQty {
    width: 50px;
  }
}
@media (max-width: 1000px) {
  .profilePage p {
    font-size: 12px;
  }
  .profilePage button {
    font-size: 10px;
  }
  .profilePage input {
    width: 80px;
  }
  .profilePage .searchSpecial {
    width: 120px !important;
  }
}
@media (max-width: 680px) {
  .header .nav-item a,
  .header .nav-item div {
    font-size: 13px;
    padding: 5px;
  }
}
@media (max-width: 500px) {
  .header .nav-item a,
  .header .nav-item div {
    font-size: 9px;
    padding: 5px;
  }
  .home div #accordionExample {
    display: none;
  }
}
@media (max-width: 400px) {
  .header .nav-item a,
  .header .nav-item div {
    font-size: 8px;
    padding: 5px;
  }
}
@media (max-width: 700px) {
  .home div #accordionExample {
    display: none;
  }
}
@media (max-width: 980px) {
  .search img {
    height: 15px;
  }
}
.header img {
  height: 20px;
}
